<div class="row">
	<div class="four columns">

		<h3>Welcome</h3>

		<% if @authentications %>
  <% unless @authentications.empty? %>
    <p><strong>You are linked to following services:</strong></p>
    <div class="authentications">
      <% for authentication in @authentications %>
        <div class="authentication">
          <%= image_tag "authbutton/#{authentication.provider}_32.png", :size => "32x32" %>
          <div class="provider"><%= authentication.provider.titleize %></div>
          <!-- <div class="uid"><%= authentication.uid %></div> -->
          <%= link_to "X", authentication, :confirm => 'Are you sure you want to remove this authentication option?', :method => :delete, :class => "remove" %>
        </div>
      <% end %>
      <div class="clear"></div>
    </div>
  <% end %>
  <%end%>
  	</div>
	<div class="eight columns">
		<h3>Game</h3>
		<ul>
		<li>
			Game1 : 
			<%= link_to 'Play','/game' %>
		</li>
		</ul>
		</div>
	</div>
</div>
  	
