<h2>Sign in</h2>
<div class="row">
<div class="four columns">
	<a href="/auth/facebook" class="auth_provider">
	  <%= image_tag "authbutton/facebook_64.png", :size => "64x64", :alt => "Facebook" %>
	  Facebook
	</a>
	<a href="/auth/google_apps" class="auth_provider">
	  <%= image_tag "authbutton/google_64.png", :size => "64x64", :alt => "Google" %>
	  Google
	</a>
</div>
<div class="four columns">
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %>
  <%= f.email_field :email ,{ :required=>"required", :placeholder=>"john@email.com"} %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password, { :required=>"required", :placeholder=>"password"}  %></div>

  <% if devise_mapping.rememberable? -%>
    <div><label for="remember_me"><%= f.check_box :remember_me, {:label=>"remember_me"} %> Remember me</label></div>
  <% end -%>

  <div><%= f.submit "Sign in" %></div>
<% end %>

<%= render "links" %>
</div>