<!DOCTYPE html>
<html>
<head>
  <title>GameTheoryExp</title>

	<meta charset="utf-8" />

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "foundation", :media => "all" %>
  <%= stylesheet_link_tag    "app", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


	<!--[if lt IE 9]>
		<link rel="stylesheet" href="stylesheets/ie.css">
	<![endif]-->


	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>

<div class="container">

		<div class="row">
			<div class="twelve columns">
				<h2>Game-Theory-Class.org: The Game Site</h2>
				
				<hr />
				<!-- <p>As part of http://www.game-theory-class.org/</p> -->
				<%# Flash message from Devise %>
				<p class="notice"><%= notice %></p>
       			<p class="alert"><%= alert %></p>
			</div>
		</div>

		<div class="row">
			<%= yield %>
		</div>
</div>
<%= javascript_include_tag "jquery.min.js" %>
<%= javascript_include_tag "modernizr.foundation.js" %>
<%= javascript_include_tag "foundation.js" %>
<%= javascript_include_tag "app.js" %>
</body>
</html>
